$ram-white: #ffffff;
$ram-black: #151515;
$ram-blue: #4cb0c6;
$ram-gray: #999999;

$font-family: 'Roboto',;

$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-extra-large: 20px;

$font-weight-normal: 400;
$font-weight-bold: 900;
